.background-tabela-detalhada{
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tabela-detalhada{
  display: flex;
  justify-content: center;
  width: 98%;
  margin-bottom: 50px;
}